<h1><%="Welcome to your home page, #{@user.name}"%></h1>


<h3>Name: <%=@user.name%></h3>
<h3>Birthday: <%=@user.birthday%></h3>
<h3>Phone Number: <%=@user.telephone_number%></h3>

<h2><img src="<%=@user.img_url%>"></h2>

<h4><%= link_to "Edit Profile", "/users/#{@user.id}/edit" %> </h4>

<%= button_to "Logout", :controller=> "sessions", :action=> "destroy" %>
