<h1><%="Welcome to #{@user.name}'s Home Page"%></h1>


<h3>Name: <%=@user.name%></h3>
<h3>Birthday: <%=@user.birthday%></h3>
<h3>Phone Number: <%=@user.telephone_number%></h3>

<h2><img src="<%=@user.img_url%>"></h2>
