<br>
<br>
<div align="center">
<%if flash[:notice] %>
<div class="alert alert-dismissible alert-info">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<strong><%= flash[:notice] %></strong>
</div>
</div>
<%end %>


<div class="container">
  <div align="center">
    <% if flash[:birthday_notice] %>
    <div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><%= flash[:birthday_notice] %></strong>
    </div>
    </div>
    <%end %>
  </div>
</div>
<br>
<div class="container">
  <div align="center">
    <% if current_user == @user %>
    <h1><%= "Your Profile Page" %></h1>
    <% else %>
    <h1><%= "#{@user.name}'s Profile"%></h1>
    <%end %><br>
    <h2><img src="<%=@user.img_url%>" width="200px" height="200px"></h2>
    <h3>Name: <%=@user.name%></h3>
    <h5>Phone Number: <%=@user.telephone_number%></h5>
    <h5>Birthday: <%=@user.birthday.to_formatted_s(:long)%></h5>

    </div>
</div>
<br>
<div class="container">
  <div align="center">


    <% if current_user == @user %>
    <h5>Who you follow: </h5>
    <br>
    <br>
    <% @who_you_follow.in_groups_of(4) do |follow| %>
    <div class="row">
    <% follow.compact.each do |follow| %>
    <div class="col-md-3">
    <img src="<%=follow.img_url%>" width="150px" height="150px"><br>
    <%= link_to follow.name, "/users/#{follow.id}" %><br>
    <%=follow.birthday.to_formatted_s(:long)%>
    <br>
    <%= button_to "Unfollow", unfollow_friend_path, :method => :post, params: {followee_id: follow.id}, class: 'btn btn-primary' %>
    <br>
  </div>
  <% end %>
  </div>
  <% end %>
  <% end %>

    <% if current_user != @user %>
      <%= button_to"Add Friend", add_new_friend_path, :method => :post, params: {followee_id: @user.id}, class: 'btn btn-primary' %>
    <%end%>

    <% if current_user == @user %>
    <%= link_to "Edit Profile", edit_user_path(current_user.id)%>
    <% end %>
    <br>
    <br>
<%= button_to "Logout", :controller=> "sessions", :action=> "destroy"%>
  </div>
</div>
